<div id="<%= dom_id ricettum %>">
  <p>
    <strong>Nome:</strong>
    <%= ricettum.nome %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= ricettum.descrizione %>
  </p>

  <p>
    <strong>Rails:</strong>
    <%= ricettum.rails %>
  </p>

  <p>
    <strong>Generate:</strong>
    <%= ricettum.generate %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= ricettum.model %>
  </p>

  <p>
    <strong>Ingredientericetta:</strong>
    <%= ricettum.IngredienteRicetta %>
  </p>

  <p>
    <strong>Ricetta:</strong>
    <%= ricettum.ricetta_id %>
  </p>

  <p>
    <strong>Ingrediente:</strong>
    <%= ricettum.ingrediente_id %>
  </p>

  <p>
    <strong>Quantita:</strong>
    <%= ricettum.quantita %>
  </p>

</div>
