<div id="<%= dom_id ordine %>">
  <p>
    <strong>Cliente:</strong>
    <%= ordine.cliente_id %>
  </p>

  <p>
    <strong>Rails:</strong>
    <%= ordine.rails %>
  </p>

  <p>
    <strong>Generate:</strong>
    <%= ordine.generate %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= ordine.model %>
  </p>

  <p>
    <strong>Ricettaordine:</strong>
    <%= ordine.RicettaOrdine %>
  </p>

  <p>
    <strong>Ordine:</strong>
    <%= ordine.ordine_id %>
  </p>

  <p>
    <strong>Ricetta:</strong>
    <%= ordine.ricetta_id %>
  </p>

  <p>
    <strong>Quantita:</strong>
    <%= ordine.quantita %>
  </p>

</div>
